Python Data Structures (Containers)

Lists, Dictionaries, Sets, Tuples

List

In [1]:
x = ['Ai', 1, 'is', 2, 'the', 2.4, 'new', True, 'python']
x

['Ai', 1, 'is', 2, 'the', 2.4, 'new', True, 'python']

In [2]:
x[0]

'Ai'

In [3]:
x[3]

2

In [4]:
x[-1]

'python'

In [6]:
x[-1] = 'Anaconda'
x

['Ai', 1, 'is', 2, 'the', 2.4, 'new', True, 'Anaconda']

In [8]:
x.append('python') # Adding a new element to the end of the list
x

['Ai', 1, 'is', 2, 'the', 2.4, 'new', True, 'Anaconda', 'python', 'python']

In [10]:
x.extend(['is', 'the', 'best']) # Adding multiple elements to the end of the list
x

['Ai',
 1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'Anaconda',
 'python',
 'python',
 'is',
 'the',
 'best',
 'is',
 'the',
 'best']

In [12]:
x.append(['hello', 'world']) # Adding a list as a single element
x

['Ai',
 1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'Anaconda',
 'python',
 'python',
 'is',
 'the',
 'best',
 'is',
 'the',
 'best',
 ['hello', 'world']]

In [13]:
x[-1][0]

'hello'

In [14]:
x[-1][-1]

'world'

In [17]:
r = x.pop() # Removing the last element and returning it
r

'the'

In [18]:
x.remove('Ai') # Removing the first occurrence of 'Ai'
x

[1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'Anaconda',
 'python',
 'python',
 'is',
 'the',
 'best',
 'is']

In [19]:
for i in x:
    print(i)

1
is
2
the
2.4
new
True
Anaconda
python
python
is
the
best
is

In [20]:
list(enumerate(x))

[(0, 1),
 (1, 'is'),
 (2, 2),
 (3, 'the'),
 (4, 2.4),
 (5, 'new'),
 (6, True),
 (7, 'Anaconda'),
 (8, 'python'),
 (9, 'python'),
 (10, 'is'),
 (11, 'the'),
 (12, 'best'),
 (13, 'is')]

In [21]:
for i,j in enumerate(x):
    print("%d %s" %(i,j))

0 1
1 is
2 2
3 the
4 2.4
5 new
6 True
7 Anaconda
8 python
9 python
10 is
11 the
12 best
13 is

In [22]:
str = " Hello world war 3"
y = str.split() # Splitting the string into a list of words
y

['Hello', 'world', 'war', '3']

In [23]:
for i, j in zip(x, y):
    print(i,j)

1 Hello
is world
2 war
the 3

In [31]:
from tqdm import tqdm
import time

concat = ""

for i in tqdm(x):
    concat = concat + str(i)
    time.sleep(2)

100%|██████████| 14/14 [00:28<00:00,  2.01s/it]

List Comprehensions ( Important )

In [32]:
import time 

start = time.time()

nums = list(range(0,5))
Squares = []

for i in nums:
    Squares.append(i**2)

end = time.time()

print("Time taken to execute the loop: ", end - start)

Time taken to execute the loop:  0.00012302398681640625

Dictionaries - Key, Value Pair

In [33]:
d = {'cat' :  'meow', 'dog' : 'bark', 'cow' : 'moo'}
print(d['cat'])

meow

In [34]:
print('cat' in d)

True

In [40]:
d.keys(), d.values(), d.items()

(dict_keys(['cat', 'dog', 'cow']),
 dict_values(['meow', 'bark', 'moo']),
 dict_items([('cat', 'meow'), ('dog', 'bark'), ('cow', 'moo')]))

In [41]:
d['cat'] = 'purr'  # Updating the value for the key 'cat'
print(d)

{'cat': 'purr', 'dog': 'bark', 'cow': 'moo'}

In [42]:
d.update({'coco': 'cucu', 'frog': 'crew', 'crow': 'crew'})  # Updating multiple keys
print(d)

{'cat': 'purr', 'dog': 'bark', 'cow': 'moo', 'coco': 'cucu', 'frog': 'crew', 'crow': 'crew'}

In [43]:
print(d.get('cat'))  # Using get to retrieve a value, returns None if key doesn't exist
print(d.get('lion', 'not found'))  # Using get with a default value if key doesn't exist

purr
not found

In [44]:
for animal, value in d.items():
    print(f"A {animal} goes {value}")

A cat goes purr
A dog goes bark
A cow goes moo
A coco goes cucu
A frog goes crew
A crow goes crew

Dictionary Comprehensions

In [45]:
nums = list(range(0,20))
squares = {i: i**2 for i in nums if i % 2 == 0}  # Dictionary comprehension to create a dictionary of squares of even numbers
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

Sets - A set is an unordered collection of distinct elements.

In [48]:
animals = {'cat', 'dog'}

print('cat' in animals)  # Check if 'cat' is a key in the dictionary

animals.add('lion')  # This will raise an AttributeError since dictionaries do not have an add method

True

In [49]:
animals

{'cat', 'dog', 'lion'}

In [50]:
print(len(animals)) # Get the number of unique elements in the set

3

Tuples

In [51]:
d = {(x, x+1): x for x in range(10)} # Creating a dictionary with tuples as keys
print(d)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [52]:
t = (5, 6)
print(type(t))

<class 'tuple'>

In [53]:
print(d[t]) # Accessing the value associated with the tuple key in the dictionary

5

In [ ]:
print(d[(1,2)]) # Accessing the value associated with the tuple key (1, 2)

1